
/*cofias*/
.articulos  article .contenedor-imagen-article{
    position: relative;
}
.articulos  article .contenedor-imagen-article span{
    z-index: 0;
    position: absolute;
    font-size: 0.65em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 2px #000;
    color: #fff;
    background-color: rgb(255, 0, 234);
    box-shadow: -2px 0px 5px rgb(255, 0, 234);    
    /* background-color: rgb(25, 0, 255);
    box-shadow: -2px 0px 5px rgb(25, 0, 255); */
    right: 0px;
    top: -265px;
    padding: 2px 2px;
}

.articulos  article .contenedor-imagen-article .reversible2{
    top: -225px;
    text-shadow:none;
    background-color: rgb(0, 255, 0);

    font-size: 0.85em;
    border: 1px solid #00000056;
    border-right: none;
    top: 16em;
    font-weight: 700;
    box-shadow:none;
}
.articulos  article .contenedor-imagen-article .cofia{
    
    top: 23px;
}
.articulos  article .contenedor-imagen-article .oferta-cofia {
    top: 4.7em;
    text-align: center;
    background-color: #ff5733;
    box-shadow: 0px 0px 2px #ff5733;
    font-weight: 700;
}
.articulos  article .contenedor-imagen-article .oferta-cofia b{

    text-decoration: line-through  #ffffffc9 1.2px ;
    font-weight: bold;
    color: #ffffff;

}
